@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");
* {
  font-family: "Manrope", sans-serif;
}
.fw500 {
  font-weight: 500;
}
.fw600 {
  font-weight: 600;
}
.fw700 {
  font-weight: 700;
}
.fw800 {
  font-weight: 700;
}

.My-Container {
  @apply px-3 md:px-24 max-w-screen-xl mx-auto;
}

.btn {
  @apply text-[#9774FF] fw500 border border-[#9774FF]  px-5 py-1 rounded;
}
